    <footer class="footer-style">
        <div class="container mx-auto pt-5 mt-5">
            <div class="row">
                <!-- ABOUT COMPANY -->
                <div class="col-lg-6 px-auto mx-auto mb-3">
                    <h3><span class="foot-head">ABOUT YELPPOSTS</span></h3>
                    <div>
                        YelpPosts is an online free social networking website that allows registered users to create profiles, upload photos, 
                        send messages and keep in touch with friends, family and colleagues.
                    </div>
                </div>
                <!-- RESOURCES -->
                <div class="col-lg-4 px-auto mx-auto">
                    <h3><span class="foot-head">RESOURCES</span></h3>
                    <ul class = 'footer-ul-style ml-0 pl-1'>
                        <li>
                            <a href='https://github.com/jontyrs/YelpPosts'>YelpPosts Docs</a>
                        </li>
                        <li>
                            <a href='https://getbootstrap.com/'>BootStrap4</a>
                        </li>
                        <li>
                            <a href='https://developer.mozilla.org/en-US/'>MDN</a>
                        </li>
                        <li>
                            <a href='https://www.mongodb.com/'>MongoDB</a>
                        </li>
                        <li>
                            <a href='https://expressjs.com/'>Express</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <!-- USEFUL LINKS -->
            <div class="my-5 text-center">
                <h3 class='mb-4'><span class="foot-head">USEFUL LINKS</span></h3>
                <div class="row">
                    <div class="col-sm-3 mb-2">
                        <a href = 'https://www.facebook.com/jontyrs' style="font-size: 2.5em;"><i class="fab fa-facebook-square"></i> </a>
                    </div>
                    <div class="col-sm-3  mb-2">
                        <a href = 'https://www.linkedin.com/public-profile/in/rachnit-singh-jonty-4239a041/' style="font-size: 2.5em;"><i class="fab fa-linkedin"></i></a>
                    </div>
                    <div class="col-sm-3  mb-2">
                        <a href = 'https://github.com/jontyrs' style="font-size: 2.5em;"><i class="fab fa-github-square"></i></a>
                    </div>
                    <div class="col-sm-3  mb-2">
                        <a href = 'https://stackoverflow.com/users/13066421/jonty99?tab=profile' style="font-size: 2.5em;"><i class="fab fa-stripe-s"></i></a>
                    </div>
                </div>
            </div>

            
        </div>
        <div class="text-center py-2 footer-end">
            <span class="mx-3">YelpPosts : <i class="far fa-registered"></i> 2020</span>
            <span class="mx-3">Copy Rights <i class="far fa-copyright"></i> are Reserved</span>
        </div>
    </footer>

</body>
</html>