<%- include('partials/header'); -%>

<header class = 'landing-font landing-front'>
    <div class="container">
        <div class = 'font-weight-bold p-5 mx-5' id = 'text-heading'>
            <h1 class="text-center pb-5 mb-2 display-1"><i class="fas fa-camera-retro"></i><span class="d-none d-md-inline"><strong>  YelpPosts</strong></span></h1>
            <div class="row">
                <div class="col-md-9 px-auto mx-auto pb-4">
                    <p class="mb-4">
                        YelpPosts is an online free social networking website that allows registered users to create profiles, upload photos, 
                        send messages and keep in touch with friends, family and colleagues.
                    </p>
                    <a href="/posts" class="btn btn-primary btn-lg"><i class="fas fa-home"></i> Goto Home</a>
                </div>
            </div>            
        </div>
    </div>
</header>

<div class="container mt-4 mb-5">
    <div class="display-3 text-center mb-2 landing-font">
        Features
    </div>
    <div class="row align-items-start">
        <div class="col-md-5 p-3 text-center mx-auto">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title">Responsive</h5>
                    <span class = 'font-icon-front'><i class="fas fa-tablet-alt"></i></span>
                    <p class="card-text mt-2">It is glitch free and is fully compatible with any device you access it from.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5 p-3 text-center mx-auto">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title">Secure</h5>
                    <span class = 'font-icon-front'><i class="fas fa-shield-alt"></i></span>
                    <p class="card-text mt-2">It will keep your account and personal informations secure, and will be free of cyber theft.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5 p-3 text-center mx-auto">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title">Fast</h5>
                    <span class = 'font-icon-front'><i class="fas fa-bolt"></i></span>
                    <p class="card-text mt-2">It is available 24x7 and provides you with on-time results without any delay in time.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5 p-3 text-center mx-auto">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title">Customizable</h5>
                    <span class = 'font-icon-front'><i class="fas fa-th"></i></span>
                    <p class="card-text mt-2">The Data is presented in simplified and organized manner for ease of understanding.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4 mb-5">
    <div class="display-3 text-center mb-2 landing-font">
        LogIn / SignUp
    </div>
    <div class="row align-items-start">
        <div class="col-md-5 p-3 text-center mx-auto">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title">LogIn</h5>
                    <span class = 'font-icon-front'><i class="fas fa-sign-in-alt"></i></span>
                    <p class="card-text mt-2">Already, have an Account! Just SignUp.</p>
                    <a href="/login" class="btn btn-primary">Goto LogIn</a>
                </div>
            </div>
        </div>
        <div class="col-md-5 p-3 text-center mx-auto">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title">SignUp</h5>
                    <span class = 'font-icon-front'><i class="fas fa-user-plus"></i></span>
                    <p class="card-text mt-2">Doesn't have an Account! Create on a go.</p>
                    <a href="/register" class="btn btn-primary">Goto SignUp</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>
